PORT=9000

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password123
MONGODB_LOCAL_URI=mongodb://root:password123@localhost:6000

REDIS_URL=localhost:6379

# Step 1: Generate a new key pair: https://travistidwell.com/jsencrypt/demo/
# Step 2: Encode the public/private key to base64: https://www.base64encode.org/

# Step 3: Copy the encoded public key and paste it here
ACCESS_TOKEN_PUBLIC_KEY=
# Step 4: Copy the encoded private key and paste it here
ACCESS_TOKEN_PRIVATE_KEY=
ACCESS_TOKEN_EXPIRED_IN=15m
ACCESS_TOKEN_MAXAGE=15


